<!--<div class="footer__container">
    <div class="footer__links">
        <div class="footer__link--wrapper">
         <div class="footer__link--items">
            <h2>About Us</h2>
            <a href = "/">How It works</a>
            <a href = "/">Testimonials</a>
            <a href = "/">Experience</a>
            <a href = "/">Terms of Service</a>
         </div>  
         <div class="footer__link--items">
            <h2>Services</h2>
            <a href = "/">How It works</a>
            <a href = "/">Testimonials</a>
            <a href = "/">Experience</a>
            <a href = "/">Terms of Service</a>
         </div>  
        </div>
        <div class="footer__link--wrapper">
            <div class="footer__link--items">
               <h2>About Us</h2>
               <a href = "/">How It works</a>
               <a href = "/">Testimonials</a>
               <a href = "/">Experience</a>
               <a href = "/">Terms of Service</a>
            </div>  
            <div class="footer__link--items">
               <h2>About Us</h2>
               <a href = "/">How It works</a>
               <a href = "/">Testimonials</a>
               <a href = "/">Experience</a>
               <a href = "/">Terms of Service</a>
            </div>  
           </div>
    </div>
    <p class="website__right"> &copy; TimeOff 2024. All rights reserved</p>
</div>