/* General full-height layout */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    background-color:#4c6444;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    height:80px;
}

header p{
    align-content: center;
}

nav{
    height:60px;
    align-content: center;
    background-color:#b4b4b4;
}

.navigation ul li{
    background-color:#746a5d;
    height:60px;
    width: 180px;
    display:inline;
    float:left;
    margin-right: 30px;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

#nav3{
    text-align: center;
}

nav ul li a:hover{
    color:#4c6444;
}

.tbl h1{
    text-align: center;
}

/* Main content should take up the remaining space */
main {
    flex: 1; /* Takes up all available space between header and footer */
}

table{
    width:100%;
    table-layout: fixed; /* Ensures equal spacing of headers and columns */
    
}

th{
    padding: 20px;
    background-color: #746a5d;
}

td{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    background-color: #b4b4b4;
}

select{
    padding: 5px;
}

.pending{
    color:orange;
}

.accepted{
    color:green;
}

.rejected{
    color:red;
}
footer{
    background-color: #4c6444;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

/*
* Flex container for the entire page 
    .wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Full viewport height 
    }

    Main content takes up remaining space 
    .content {
      flex: 1;
    }

    <footer>
        <div>Terms and Conditions</div>
        <div>&copy;CopyRight</div>
        <div>Help Contacts</div>
    </footer>

color brown: #746a5d
color green: #4c6444
color grey: #b4b4b4
*/